.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;

  @media screen and (min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.header__content {
  display: flex;
  align-items: center;
}
