.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -8px;
  margin-bottom: 40px;

  @media screen and (max-width: ($tablet - 1)) {
    margin-top: -15px;
  }

  @media screen and (min-width: $tablet) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

.filter__item {
  margin-left: 8px;

  @media screen and (max-width: ($tablet - 1)) {
    margin-top: 15px;
  }
}

.filter__button {
  min-height: 38px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  font-family: $fontPrimary;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  color: getColor('text-title');
  background-color: getColor('background-secondary');
  cursor: pointer;
  border: 1px transparent;
  border-radius: 4px;

  transition-property: color, background-color, box-shadow;
  @include transitionProperties();

  &:hover,
  &:focus {
    color: getColor('white-primary');
    background-color: getColor('accent');
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    outline: none;
  }

  &:disabled {
    color: getColor('white-primary');
    background-color: #188ce8;
    box-shadow: none;
  }
}
