.product-set {
  display: block;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * #{$cards-gap});
    margin-left: calc(-1 * #{$cards-gap});
  }
}
.product-set__item {
  display: block;
  background-color: getColor('white-primary');

  &.js-hidden {
    display: none;
  }

  @media screen and (max-width: ($tablet - 1)) {
    &:not(:last-child) {
      margin-bottom: $cards-gap;
    }
  }

  @media screen and (min-width: $tablet) {
    @include gridFlexBasis('product-set-tablet');

    margin-left: $cards-gap;
    margin-top: $cards-gap;
  }

  @media screen and (min-width: $desktop) {
    @include gridFlexBasis('product-set-desktop');
  }
}
