.product {
  width: 100%;
  height: 100%;
}
.product__link {
  display: block;
  width: 100%;
  height: 100%;

  color: getColor('text-primary');
  text-decoration: none;

  transition-property: box-shadow;
  @include transitionProperties();

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    outline: none;
  }
}

.product__overlay-container {
  position: relative;
  overflow: hidden;
}
.product__overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  @include transitionProperties();

  .product__link:hover &,
  .product__link:focus & {
    transform: translateY(0);
    @include transitionProperties();
  }
}
.product__overlay-description {
  color: getColor('white-primary');

  font-size: 18px;
  line-height: 1.56;
}

.product__meta {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  $borderColor: #eeeeee;

  border-bottom: 1px solid $borderColor;
  border-left: 1px solid $borderColor;
  border-right: 1px solid $borderColor;

  @media screen and (min-width: $tablet) {
    flex-grow: 1;
  }
}
.product__title {
  color: getColor('text-title');
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.product__description {
  font-size: 16px;
  line-height: 1.88;
}
