// flex-basis calculation
@mixin flexBasis($column) {
  flex-basis: calc((100% - #{$cards-gap} * (#{getColumn($column)} - 1)) / #{$column});
}

@mixin gridFlexBasis($column) {
  flex-basis: calc(100% / #{getColumn($column)} - #{$cards-gap});
}

// transition properties
@mixin transitionProperties($duration: 'duration', $timing: 'timing') {
  transition-duration: getTransition($duration);
  transition-timing-function: getTransition($timing);
}
